# OS
.DS_Store

# Node
node_modules/
npm-debug.*
yarn-error.log*
*.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
ios/Pods/
ios/build/
ios/.xcode.env.local
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.keystore
!debug.keystore

# Env / secrets
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
